.blink {
  animation: blink-animation 1.8s infinite;
  /* color: rgba(39, 39, 39, 0.492); */
}

@keyframes blink-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
